<!DOCTYPE html>
<html>
<head>
    <title>Mark Attendance</title>
</head>
<body>

<h2>Attendance – {{ today }}</h2>

<form method="POST">
    {% csrf_token %}

    <table border="1" cellpadding="10">
        <tr>
            <th>Student</th>
            <th>Present</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>
                <input type="checkbox" name="{{ student.id }}" checked>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <button type="submit">Save Attendance</button>
</form>

</body>
</html>